<div id="js-bulk-actions-wrapper" class="relative">
  <button
    id="js-bulk-actions-button"
    class="button button__sm button__transparent-secondary"
    type="button"
    data-controller="dropdown"
    data-target="js-bulk-actions-dropdown">
    <%= t("decidim.term_customizer.admin.translations.index.actions") %>
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-down-s-line" %>
  </button>

  <ul
    id="js-bulk-actions-dropdown"
    class="dropdown dropdown__bottom"
    aria-hidden="true">
    <li class="dropdown__item">
      <button type="button" class="dropdown__button" data-action="destroy-translations">
        <%= t("actions.destroy", scope: "decidim.admin") %>
      </button>
    </li>
  </ul>
</div>
